/* Basscss Modules */
@import 'basscss-base-reset';
@import 'basscss-base-tables';
@import 'basscss-base-typography';

@import 'basscss-utility-layout';
@import 'basscss-utility-typography';
@import 'basscss-white-space';
@import 'basscss-responsive-states';
@import 'basscss-positions';

@import 'basscss-grid';
@import 'flex-object';

@import 'basscss-color-base';
@import 'basscss-color-tables';

@import 'basscss-background-images';
@import 'basscss-borders';
@import 'basscss-colors';

/* Custom Modules */

:root {
  --font-family: 'Futura', "Trebuchet MS", sans-serif;
}

/* set the body bg to black so the footer always extends */
body {
  background-color: #000;
}

/* set the content container to white */
.content {
  background-color: #fff;
}


.hero {
  background-color: #B6DCFB;
}

/* sub page header */
.subhead {
  background-color: #B6DCFB;
  padding: 1em 0;
}

.subheadtitle {
  margin: 0;
  font-size: 1.25rem;
  display: inline-block;
}

/*footer */
@media (min-width: 700px) {
  .social {
    padding-top: 4rem;
  }
}

footer a {
  color: #B6DCFB;
}

/* subscribe */

.subscribe,
.submit {
  margin-top: 1em;
}

.subscribe {
  padding: 1em;
  font-size: 1em;
  font-family: 'Futura', "Trebuchet MS", sans-serif;
  border: 0px;
}

.submit {
  background-color: #000;
  color: #FFF;
  font-family: 'Futura', "Trebuchet MS", sans-serif;
  border: 0px;
  font-size: 1em;
  padding: 1em;
}

.submit:hover {
  color: #B6DCFB;
}

/* layout of subscribe input and button on larger screen sizes */
@media (min-width: 900px) {
  .subscribe {
    width: 70%;
  }

  .submit {
    width: 20%;
  }
}

.submit:hover {
  cursor: pointer;
}

/* helper classes */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
