header.hero.center.py4.bg-cover.bg-center
  img(src=contents.img['logo.png'].url alt="" width="150")
  h1.h1.h0-responsive.caps= locals.name
  p.h3= locals.description

  div.col-6.px2.mx-auto.
    <form action="https://tinyletter.com/LearnFrontEnd" method="post" target="_blank");return true"><label for="tlemail" class="visuallyhidden">Enter your email address to subscribe to updates</label><input type="text" class="subscribe" name="email" id="tlemail" placeholder="Enter your email address" /><input type="hidden" value="1" name="embed"/><input type="submit" class="submit" value="Subscribe" /></form>
