extends layout

block content
  section.container.px2.py3
    div.clearfix.mxn2
      div.sm-col.sm-col-4.px2
        div.center
          img(src=contents.img.icons['path.svg'].url alt="" height="100")
        h2.mb0 A guided path
        p Learn Front-End will offer a guided path to learning front-end web development. By following along with original and curated links and resources, you will go from browsing the web to building the web.
      div.sm-col.sm-col-4.px2
        div.center
          img(src=contents.img.icons['video.svg'].url alt="" height="100")
        h2.mb0 Screencasts
        p In the fall of 2015, O'Reilly Media will be publishing "Learn Modern Front-End Web Development." This course will cover modern front-end tooling such as using the Terminal, Git, CSS Pre-Processors, JavaScript code structure, and more.
      div.sm-col.sm-col-4.px2
        div.center
          img(src=contents.img.icons['book.svg'].url alt="" height="100")
        h2.mb0 Open source book
        p All of the book content from Learn Front-End will be published as open source with a permissive license. Adapt and modify the content or contribute improvements.
block prepend footer
