extends layout

block content
  section.container.px2.py3
    div.clearfix.mxn2
      div.sm-col.sm-col-4.px2
        div.center
          img(src=contents.img.icons['path.svg'].url alt="" height="100")
        h2.mb0 A guided path
        p Learn Front-End offers a single path to learning front-end web development.
      div.sm-col.sm-col-4.px2
        div.center
          img(src=contents.img.icons['video.svg'].url alt="" height="100")
        h2.mb0 Video course
        p O'Reilly video screencast course
      div.sm-col.sm-col-4.px2
        div.center
          img(src=contents.img.icons['book.svg'].url alt="" height="100")
        h2.mb0 Open source book
        p Details about the open source book
block prepend footer
