extends layout

block content
  section.container.px2.py3
    div.clearfix.mxn2
      div.sm-col.sm-col-4.px2
        h2.mb0 A guided path
        p Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison. Ham bacon corned beef, sausage kielbasa flank tongue pig drumstick capicola swine short loin ham hock kevin.
      div.sm-col.sm-col-4.px2
        h2.mb0 Video course
        p Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison. Ham bacon corned beef, sausage kielbasa flank tongue pig drumstick capicola swine short loin ham hock kevin.
      div.sm-col.sm-col-4.px2
        h2.mb0 Open source book
        p Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison. Ham bacon corned beef, sausage kielbasa flank tongue pig drumstick capicola swine short loin ham hock kevin.

block prepend footer
